/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
#root {
  @apply h-screen;
}

/* height of the container */
.leaflet-container {
  @apply h-screen;
}
.search {
  @apply text-base text-[black] transition-[border-color] duration-[0.2s] border-b-2 border-b-[black] border-0 border-solid;
  font-family: inherit;
  outline: 0;
  background: transparent;
}
.search::placeholder {
  @apply text-[grey];
}
.loop {
  @apply absolute right-[716px] top-[15px];
}
.datepicker {
  font-family: inherit;
  outline: 0;
  background: transparent;
}
