/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
#root {
  @apply h-screen;
}

/* height of the container */
.leaflet-container {
  @apply h-screen;
}
.search {
  @apply w-3/12 text-base text-[black] transition-[border-color] duration-[0.2s] px-0 py-[7px] border-b-2 border-b-[black] border-0 border-solid;
  font-family: inherit;
  outline: 0;
  background: transparent;
}
.search::placeholder {
  @apply text-[black];
}
.loop {
  @apply absolute right-[1115px] top-[18px];
}
.datepicker {
  @apply w-1/5 text-base text-[black] transition-[border-color] duration-[0.2s] px-0 py-[7px] border-0;
  font-family: inherit;
  outline: 0;
  background: transparent;
}
